svg {
  /*margin: 0 auto;*/
  /*display: block;*/
}

.tick line{
	stroke:#999;
	stroke-dasharray: 10 5;
}

.flex-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px;
}

.tooltip {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	background-color: LightGray;
	border: 2px solid blue;
	border-radius: 5px;
	padding: 5px;
	display: block;
	max-width: 168px;
}

/*.tooltip:after {
	content: '  ';
	position: absolute;
	border: 12px solid transparent;
	border-top-color: blue;
	top: 52px;
	left: 48%;
	margin-left: -6px;
}*/

#slider, svg  {
	display: block;
}

.barLabel {
	fill: white;
	transform: rotate(-90deg);
	stroke:#000000;
	stroke-width:1px
}

#movieInfo, .plot {
	margin: 1%;
	display: block;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.48);
	padding: 1%;
	text-align: left;
}

#movieInfo {
	max-width: 600px;
	box-sizing: content-box;
	width: 600px;
	height: 400px;
	overflow: auto;
}

#header {
	text-align: center;
}