.tick line{
	stroke:#999;
	stroke-dasharray: 10 5;
}

.flex-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-flow: row wrap;
  margin: 20px;
}

.tooltip {
	opacity: 0;
	position: absolute;
	pointer-events: none;
	background-color: LightGray;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	display: block;
	max-width: 168px;
}

/*.tooltip:after {
	content: '  ';
	position: absolute;
	border: 12px solid transparent;
	border-top-color: blue;
	top: 52px;
	left: 48%;
	margin-left: -6px;
}*/

#slider, svg  {
	display: block;
}

.barLabel {
	fill: black;
	transform: rotate(-90deg);
	stroke:#000000;
	/*stroke-width:1px*/
}

#movieInfo, .plot {
	margin: 1%;
	display: block;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.48);
	padding: 1%;
	text-align: left;
}

#movieInfo {
	max-width: 600px;
	box-sizing: content-box;
	width: 600px;
	min-height: 200px;
	overflow: auto;
}

#header, #footer {
	text-align: center;
}

#footer{
	font-size: 0.75em;
}


#showcase {
    margin: 0 20px;
    text-align: center;
}
#range {
    width: 30vw;
    margin: 0 auto 30px;
}
#value-span,
#value-input {
    width: 50%;
    float: left;
    display: block;
    text-align: center;
    margin: 0;
}
